
.mainpagetitle {
    background-color: rgb(125, 112, 49);
    color: black;
    border: 2px solid rgb(28, 21, 21);
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mainpagedescription{
    background-color: rgba(255, 255, 255, 0.271);
    color: black;
    margin: 0px 20px;
    padding: 20px;
    text-align: center;
    font-size: xx-large;
    font-family: fantasy;
}

.shouldertitle{
    text-align: center;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}

.basetext{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}